* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.zap {
  font-family: "Caveat", cursive;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("bg.jpg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  padding: 16px 128px;
  max-width: 1920px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.content {
  display: flex;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 32px;
}
.content-text {
  max-width: 600px;
}

.img-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.title-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.title-area-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 36px;
}

.bar {
  height: 8px;
  width: 60%;
  background-color: orangered;
}

.img-area-content {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.img-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
img {
  width: 300px;
  height: 300px;
}
